/* Search form */

.c-search {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 6px;
  position: absolute;
  z-index: 1000001;
}

.search {
  background-color: rgba(255, 255, 255, 0.95);
  height: 48px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  font-size: 0;

  &__hamburger {
    position: absolute;
    width: 48px;
    height: 48px;
    background: none;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 48 48' style='enable-background:new 0 0 48 48;' xml:space='preserve'><g><path d='M36.8,18.8h-21c-0.4,0-0.8-0.3-0.8-0.8s0.3-0.8,0.8-0.8h21c0.4,0,0.8,0.3,0.8,0.8S37.2,18.8,36.8,18.8z'/><path d='M31.8,24.8h-16c-0.4,0-0.8-0.3-0.8-0.8s0.3-0.8,0.8-0.8h16c0.4,0,0.8,0.3,0.8,0.8S32.2,24.8,31.8,24.8z'/><path d='M36.8,30.8h-21c-0.4,0-0.8-0.3-0.8-0.8s0.3-0.8,0.8-0.8h21c0.4,0,0.8,0.3,0.8,0.8S37.2,30.8,36.8,30.8z'/></g></svg>");

    &:hover {
      cursor: pointer;
    }
  }

  &__text {
    box-sizing: border-box;
    padding: 0 11px 0 59px;
    width: 100%;
    height: 48px;
    background: none;
    
    @include roboto(14px, 400, 18px);
    
    &:focus {
      outline: none;
      &::-webkit-input-placeholder {color: transparent;}
      &::-moz-placeholder          {color: transparent;}
      &:-moz-placeholder           {color: transparent;}
      &:-ms-input-placeholder      {color: transparent;}
    }
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      font-weight: 300;
      font-style: italic;
      color: #999999;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      font-weight: 300;
      font-style: italic;
      color: #999999;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      font-weight: 300;
      font-style: italic;
      color: #999999;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      font-weight: 300;
      font-style: italic;
      color: #999999;
    }
  }
}

.results {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0 0 4px 4px;
  padding-top: 4px;
  margin-top: -4px;
  position: relative;
  z-index: -1;
  max-height: 350px;
  overflow: scroll;
  transition: all 0.2s ease-in-out;
  
  &__item {
    padding: 15px 15px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    
    &:active {
      background-color: #eef1f3;
    }
    
    &_is_passive {
      cursor: default;
      &:active {
        background-color: transparent;
      }
    }
    
    &:after {
      content: '';
      height: 0;
      border-top: 1px solid #e5e5e5;
      display: block;
      position: relative;
      width: 100%;
      top: 15px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  &__name {
    @include roboto(14px, 400, 17px);
    &_query {
      color: $primary-color;
    }
  }
  &__category {
    @include roboto(11px, 300, 17px);
  }
  
  &_is_hidden {
    visibility: hidden;
  }
  
}