.c-placeholder {
  box-sizing: border-box;
  height: 100%;
  padding-top: 60px;
  background-color: $primary-gray;
  background-image: url(../img/tag_logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}