/* CSS Document */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-font-smoothing: antialiased; }

html, body {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden; }

header {
  height: 25%;
  background-color: #eef1f3;
  background-image: url(../img/tag_logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.07); }

.map {
  width: 100%;
  height: 100%; }
  .map img {
    filter: url("#colorMeMatrix");
    -webkit-filter: url("#colorMeMatrix"); }
  .map__control {
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    width: 48px;
    height: 48px;
    cursor: pointer;
    margin-right: 11px; }
    .map__control_locate {
      background-image: url(../img/__map_icons/locate.svg);
      margin-bottom: 15px; }
      .map__control_locate_is_active {
        background-color: #459bfe;
        background-image: url(../img/__map_icons/locate_on.svg); }
    .map__control_traffic {
      background-image: url(../img/__map_icons/traffic.svg);
      margin-bottom: 15px; }
      .map__control_traffic_is_active {
        background-color: #459bfe;
        background-image: url(../img/__map_icons/traffic_on.svg); }

.svgFilter {
  font-size: 0; }

.js-showError {
  display: block; }
  .js-showErrorBorder {
    border-color: #ee5242; }

/* Menu */
.c-menu {
  position: absolute;
  z-index: 1000010;
  height: 100%;
  background: none; }
  .c-menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 0.5s ease-in-out;
    -webkit-tap-highlight-color: transparent; }
    .c-menu__overlay:hover {
      cursor: pointer; }
    .c-menu__overlay_hidden {
      transition: visibility 0s linear 0.5s, opacity 0.5s ease-in-out;
      opacity: 0;
      visibility: hidden; }

.menu {
  position: absolute;
  z-index: 1000011;
  box-sizing: border-box;
  height: 100%;
  width: 275px;
  background: #ffffff;
  padding-left: 22px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  transition: left 0.5s ease-in-out;
  left: 0;
  overflow: scroll; }
  .menu_hidden {
    transition: left 0.5s ease-in-out;
    left: -275px; }
  .menu__list {
    padding: 16px 0;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
    transition: visibility 0s linear 0s, opacity 0.3s ease-in-out;
    visibility: visible;
    opacity: 1; }
    .menu__list_top {
      background-color: #fff; }
    .menu__list_bottom {
      border: none;
      padding-bottom: 0; }
    .menu__list_hidden {
      transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
      opacity: 0;
      visibility: hidden; }
    .menu__list_user {
      border: none;
      position: relative;
      transition: visibility 0s linear 0s, margin-top 0.3s ease-in-out;
      margin-top: 0;
      z-index: -1; }
      .menu__list_user_hidden {
        transition: visibility 0s linear 0.3s, margin-top 0.3s ease-in-out;
        margin-top: -120px;
        visibility: hidden; }
  .menu__item {
    display: block;
    list-style-type: none;
    padding: 5px 0;
    transition: background-color 0.2s ease-in-out;
    -webkit-tap-highlight-color: rgba(119, 120, 121, 0.15); }
    .menu__item:active {
      background-color: #eef1f3; }
  .menu__link {
    position: relative;
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 34px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding-left: 45px; }
    .menu__link:before {
      content: "";
      display: block;
      position: absolute;
      width: 34px;
      height: 34px;
      margin-left: -45px;
      background-image: url("../img/__menu_icons/menu_icons.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 34px 340px; }
    .menu__link_card:before {
      background-position: 0 -34px; }
    .menu__link_bonus:before {
      background-position: 0 -68px; }
    .menu__link_move:before {
      background-position: 0 -102px; }
    .menu__link_partner:before {
      background-position: 0 -136px; }
    .menu__link_friend:before {
      background-position: 0 -170px; }
    .menu__link_help {
      color: #459bfe;
      text-transform: none; }
      .menu__link_help:before {
        background-position: 0 -204px; }
    .menu__link_about {
      color: #459bfe;
      text-transform: none; }
      .menu__link_about:before {
        background-position: 0 -238px; }
    .menu__link_exit:before {
      background-position: 0 -272px; }
    .menu__link_edit:before {
      background-position: 0 -306px; }
    .menu__link_user {
      text-transform: none;
      font-size: 14px;
      line-height: 18px;
      cursor: pointer; }
      .menu__link_user:after {
        content: " ";
        position: absolute;
        display: block;
        left: 100%;
        margin-left: -22px;
        margin-top: -29px;
        animation-duration: 300ms;
        animation-timing-function: steps(9);
        width: 7px;
        height: 5px;
        background-repeat: no-repeat;
        background-image: url("../img/__menu_icons/arrow.svg");
        background-size: 70px 5px; }
      .menu__link_user_collapsed:after {
        animation-name: arrow-collapse;
        background-position: 0px 0px; }
      .menu__link_user_expanded:after {
        animation-name: arrow-expand;
        background-position: -63px 0px; }
  .menu__tel {
    font-size: 11px;
    font-weight: 300; }

@keyframes arrow-expand {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: -63px 0px; } }
@keyframes arrow-collapse {
  0% {
    background-position: -63px 0px; }
  100% {
    background-position: 0px 0px; } }
/* Registration form */
.reg {
  padding: 44px 22px 0;
  height: 75%;
  box-sizing: border-box; }
  .reg hr {
    margin: 18px 0 18px;
    border-bottom: 1px solid #e5e5e5; }
  .reg__where {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 14px;
    color: #000000;
    text-align: center; }
  .reg__return {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 14px;
    color: #459bfe;
    position: relative;
    padding: 0 0 0 15px; }
    .reg__return:before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 7px;
      height: 12px;
      background-image: url("data:image/svg+xml;utf-8,<svg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 7 12'><style>.st0{fill:#459bfe}</style><path class='st0' d='M6 11.7c-.1 0-.3-.1-.4-.2L.5 5.7 5.6.4c.2-.2.5-.2.7 0 .2.2.2.5 0 .7L1.9 5.8l4.5 5.1c.2.2.2.5 0 .7-.2.1-.3.1-.4.1z'/></svg>"); }
  .reg__tel {
    display: block;
    width: 100%;
    height: 47px;
    margin-top: 13px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    text-align: center;
    border-width: 1px;
    border-color: #e5e5e5;
    border-style: solid;
    border-radius: 0;
    background-color: #eef1f3;
    outline: none;
    -webkit-appearance: none;
    transition: box-shadow, border-color, background-color 0.5s ease-in-out; }
    .reg__tel:focus {
      box-shadow: 0 3px 8px rgba(76, 144, 221, 0.2);
      border-color: #459bfe;
      background-color: #ffffff;
      outline: none; }
    .reg__telLabel {
      display: block;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      color: #000000;
      text-align: center; }
  .reg__error {
    display: none;
    position: relative;
    padding: 0 0 0 35px;
    margin-top: 18px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 16px;
    color: #ee5242; }
    .reg__error:before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 22px;
      height: 20px;
      background-image: url("data:image/svg+xml;utf8,<svg id='errorSign' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22 20'><style>.st0{fill:#ee5242}</style><path class='st0' d='M21.8 20H.2L11 0l10.8 20zM1.9 19h18.3L11 2.1 1.9 19z'/><path class='st0' d='M10.3 16.2c0-.2.1-.4.2-.5s.3-.2.5-.2.4.1.5.2.2.3.2.5-.1.4-.2.5c-.1.1-.3.2-.5.2s-.4-.1-.5-.2c-.2-.2-.2-.3-.2-.5zm1.2-1.7h-1.1L10.3 9h1.4l-.2 5.5z'/></svg>"); }
    .reg__error_oneString:before {
      top: -2px; }
  .reg__offer {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 20px;
    height: 20px; }
    .reg__offer:not(checked) {
      position: absolute;
      opacity: 0; }
      .reg__offer:not(checked) + label {
        display: block;
        position: relative;
        padding: 0 0 0 35px;
        font-family: "Roboto", sans-serif;
        font-size: 11px;
        font-weight: 300;
        line-height: 16px;
        color: #000000; }
        .reg__offer:not(checked) + label:before {
          content: "";
          position: absolute;
          top: 3px;
          left: 0;
          width: 18px;
          height: 18px;
          border-radius: 0;
          border-width: 1px;
          border-color: #e5e5e5;
          border-style: solid;
          background: #eef1f3; }
    .reg__offer:checked + label:before {
      background-image: url("data:image/svg+xml;utf8,<svg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><style>.st0{fill:#459bfe}</style><path class='st0' d='M9.1 16.3l-5.5-5.5L5 9.3l3.9 3.9 6.9-9.3L17.4 5z'/></svg>"); }
    .reg__offerLink {
      font-family: "Roboto", sans-serif;
      font-size: 11px;
      font-weight: 300;
      line-height: 16px;
      color: #459bfe; }
  .reg__submit {
    display: block;
    width: 100%;
    height: 48px;
    background-color: #459bfe;
    margin-top: 44px;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    transition: background-color 0.5s; }
    .reg__submit:hover, .reg__submit :focus {
      background-color: #0167dc;
      outline: none; }

/* Search form */
.c-search {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 6px;
  position: absolute;
  z-index: 1000001; }

.search {
  background-color: rgba(255, 255, 255, 0.95);
  height: 48px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  font-size: 0; }
  .search__hamburger {
    position: absolute;
    width: 48px;
    height: 48px;
    background: none;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 48 48' style='enable-background:new 0 0 48 48;' xml:space='preserve'><g><path d='M36.8,18.8h-21c-0.4,0-0.8-0.3-0.8-0.8s0.3-0.8,0.8-0.8h21c0.4,0,0.8,0.3,0.8,0.8S37.2,18.8,36.8,18.8z'/><path d='M31.8,24.8h-16c-0.4,0-0.8-0.3-0.8-0.8s0.3-0.8,0.8-0.8h16c0.4,0,0.8,0.3,0.8,0.8S32.2,24.8,31.8,24.8z'/><path d='M36.8,30.8h-21c-0.4,0-0.8-0.3-0.8-0.8s0.3-0.8,0.8-0.8h21c0.4,0,0.8,0.3,0.8,0.8S37.2,30.8,36.8,30.8z'/></g></svg>"); }
    .search__hamburger:hover {
      cursor: pointer; }
  .search__clear {
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 12 12' viewBox='0 0 12 12' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'><path d='m6.707 6 4.953-4.953c.195-.195.195-.512 0-.707s-.512-.195-.707 0l-4.953 4.953-4.953-4.954c-.195-.195-.512-.195-.707 0s-.195.512 0 .707l4.953 4.954-4.953 4.953c-.195.195-.195.512 0 .707.098.098.226.146.354.146s.256-.049.354-.146l4.952-4.953 4.953 4.953c.098.098.226.146.354.146s.256-.049.354-.146c.195-.195.195-.512 0-.707z' fill='#459bfe'/></svg>");
    background-size: 12px 12px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    right: 6px;
    top: 6px; }
  .search__text {
    box-sizing: border-box;
    padding: 0 48px 0 59px;
    width: 100%;
    height: 48px;
    background: none;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; }
    .search__text:focus {
      outline: none; }
      .search__text:focus::-webkit-input-placeholder {
        color: transparent; }
      .search__text:focus::-moz-placeholder {
        color: transparent; }
      .search__text:focus:-moz-placeholder {
        color: transparent; }
      .search__text:focus:-ms-input-placeholder {
        color: transparent; }
    .search__text::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      font-weight: 300;
      font-style: italic;
      color: #999999; }
    .search__text:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      font-weight: 300;
      font-style: italic;
      color: #999999; }
    .search__text::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      font-weight: 300;
      font-style: italic;
      color: #999999; }
    .search__text:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      font-weight: 300;
      font-style: italic;
      color: #999999; }
    .search__text::selection {
      background: transparent; }
    .search__text::moz-selection {
      background: transparent; }

.results {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 0 0 4px 4px;
  padding-top: 4px;
  margin-top: -4px;
  position: relative;
  z-index: -1;
  max-height: 350px;
  overflow: scroll; }
  .results__item {
    padding: 15px 15px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: 0; }
    .results__item:active {
      background-color: #eef1f3; }
    .results__item_is_passive {
      cursor: default; }
      .results__item_is_passive:active {
        background-color: transparent; }
    .results__item:after {
      content: '';
      height: 0;
      border-top: 1px solid #e5e5e5;
      display: block;
      position: relative;
      width: 100%;
      top: 15px; }
    .results__item:last-child:after {
      display: none; }
  .results__name {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px; }
    .results__name_query {
      color: #459bfe; }
  .results__category {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 17px; }
  .results__address {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 17px; }
  .results__left {
    display: inline-block;
    width: 80%;
    font-size: 0; }
  .results__distance {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #459bfe;
    text-align: right;
    width: 19%;
    display: inline-block;
    vertical-align: top;
    float: right; }
  .results_is_hidden {
    visibility: hidden; }

.c-infowindow {
  box-sizing: border-box;
  padding: 0 6px;
  width: 100%;
  position: absolute;
  bottom: -250px;
  visibility: hidden;
  transition: visibility 0s linear 0.3s, bottom 0.3s ease-in-out; }
  .c-infowindow_is_visible {
    visibility: visible;
    bottom: 0;
    transition: visibility 0s linear 0s, bottom 0.5s ease-in-out; }

.infowindow {
  background-color: #fff;
  font-size: 0;
  padding: 20px 16px 18px;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); }
  .infowindow__close {
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;utf8,<svg enable-background='new 0 0 12 12' viewBox='0 0 12 12' preserveAspectRatio='none' xmlns='http://www.w3.org/2000/svg'><path d='m6.707 6 4.953-4.953c.195-.195.195-.512 0-.707s-.512-.195-.707 0l-4.953 4.953-4.953-4.954c-.195-.195-.512-.195-.707 0s-.195.512 0 .707l4.953 4.954-4.953 4.953c-.195.195-.195.512 0 .707.098.098.226.146.354.146s.256-.049.354-.146l4.952-4.953 4.953 4.953c.098.098.226.146.354.146s.256-.049.354-.146c.195-.195.195-.512 0-.707z' fill='#459bfe'/></svg>");
    background-size: 12px 12px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    right: 17px;
    top: 16px; }
  .infowindow__name {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px; }
  .infowindow__category {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 14px;
    margin-top: 5px; }
  .infowindow__discount {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 14px;
    margin-top: 5px;
    color: #459bfe; }
  .infowindow__address {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 14px;
    margin-top: 15px;
    border-top: 1px dashed #e5e5e5;
    padding-top: 15px; }
  .infowindow__phone {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-top: 4px; }
  .infowindow__workTime {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    color: #459bfe;
    display: inline-block;
    width: 30%;
    padding-left: 22px;
    margin-top: 8px;
    background-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 14 14" viewBox="0 0 14 14" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><path d="m7 13.6c-3.7 0-6.6-3-6.6-6.6s3-6.6 6.6-6.6c3.7 0 6.6 3 6.6 6.6s-2.9 6.6-6.6 6.6zm0-12.5c-3.2 0-5.9 2.7-5.9 5.9s2.6 5.9 5.9 5.9c3.2 0 5.9-2.6 5.9-5.9s-2.7-5.9-5.9-5.9z"/><path d="m9.5 7.4h-2.9v-3.9h.8v3.1h2.1z"/></svg>');
    background-repeat: no-repeat;
    background-position: 0 1px;
    background-size: 14px 14px; }
  .infowindow__distance {
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    color: #459bfe;
    text-align: right;
    display: inline-block;
    float: right;
    width: 30%;
    padding-right: 22px;
    margin-top: 8px;
    background-image: url('data:image/svg+xml;utf8,<svg enable-background="new 0 0 16 15" viewBox="0 0 16 15" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg"><path d="m14.527 4.95-.854-2.915c-.123-.422-.363-.807-.694-1.112-.39-.358-.844-.548-1.312-.548h-7.334c-.468 0-.922.189-1.312.548-.331.305-.571.69-.694 1.111l-.855 2.919c-.803.297-1.347 1.071-1.347 1.955v3.934c0 .474.409.889.875.889h.125v1.493c0 .773.617 1.401 1.375 1.401h1.333c.758 0 1.375-.628 1.373-1.359l.129-1.141h5.331l.126 1.099c0 .773.617 1.401 1.375 1.401h1.333c.758 0 1.375-.628 1.375-1.401v-1.494h.125c.493 0 .875-.527.875-.98v-4c0-.839-.511-1.513-1.348-1.8zm-11.48-2.705c.085-.291.252-.557.482-.77.174-.159.454-.35.804-.35h7.333c.35 0 .63.19.804.35.23.212.397.479.482.771l.771 2.63h-11.446zm6.578 9.13h-3.25v-.875c0-.482.393-.875.875-.875h1.5c.482 0 .875.393.875.875zm5.5-.625c0 .089-.09.215-.125.23h-.875v2.243c0 .353-.286.651-.625.651h-1.333c-.339 0-.625-.298-.627-.693l-.204-1.807h-.96v-.874c0-.896-.729-1.625-1.625-1.625h-1.5c-.896 0-1.625.729-1.625 1.625v.875h-.96l-.207 1.849c0 .353-.286.651-.625.651h-1.334c-.339 0-.625-.298-.625-.651v-2.244h-.875c-.051 0-.125-.073-.125-.139v-3.933c0-.594.404-1.127.963-1.283h12.33c.313.085.957.352.957 1.125z"/><path d="m3.75 7.375c-.896 0-1.625.729-1.625 1.625s.729 1.625 1.625 1.625 1.625-.729 1.625-1.625-.729-1.625-1.625-1.625zm0 2.5c-.482 0-.875-.393-.875-.875s.393-.875.875-.875.875.393.875.875-.393.875-.875.875z"/><path d="m12.25 7.375c-.896 0-1.625.729-1.625 1.625s.729 1.625 1.625 1.625 1.625-.729 1.625-1.625-.729-1.625-1.625-1.625zm0 2.5c-.482 0-.875-.393-.875-.875s.393-.875.875-.875.875.393.875.875-.393.875-.875.875z"/></svg>');
    background-repeat: no-repeat;
    background-position: 100% 1px;
    background-size: 16px 15px;
    vertical-align: top; }
  .infowindow__decorator {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important; }
  .infowindow__tipDecorator {
    background-color: rgba(255, 255, 255, 0.95) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important;
    border: none !important; }
  .infowindow__bodyDecorator {
    background-color: rgba(255, 255, 255, 0.95) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15) !important;
    border: none !important;
    border-radius: 4px !important; }
  .infowindow__whyDecorator {
    background-color: transparent !important;
    border-radius: 4px !important; }

/*.gm-style-iw {
  top: 0 !important;
  left: 0 !important;
  overflow: visible !important;
}*/

/*# sourceMappingURL=style.css.map */
